# Python & venv
venv/
__pycache__/
*.pyc

# Models & large files
models/*.pt
models/*.pth
models/*.onnx
videos/
outputs/

# Notebook stuff
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
