ultralytics
deep-sort-realtime
streamlit
opencv-python-headless
numpy
pillow
huggingface_hub
streamlit-webrtc
av
requests
python-dotenv
setuptools

# pip install -U ultralytics opencv-python streamlit huggingface_hub deep_sort_realtime